.signin {
  display: flex;
  align-items: center;
  height: 100vh;
  padding: 0 20vw;
  background-color: var(--dashBg--);
}
.signin.dark {
  background-color: #1e1e1e;
}
.wrapper,
.logo-desc {
  display: flex;
  flex-direction: column;
  width: 50%;
  padding: 6rem 2rem;
  height: 600px;
  justify-content: center;
  box-shadow: 0.01rem 0.01rem 0.5rem var(--baseC--);
}
/* .signin.dark .wrapper,
.signin.dark .logo-desc {
  box-shadow: 0.01rem 0.01rem 0.5rem #333;
} */
.logo-desc {
  background-color: var(--baseC--);
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  z-index: 1;
}
.logo-desc {
  margin-left: 15rem;
}
.logo-desc.visible {
  margin-left: 0;
}
.wrapper {
  background-color: #fff;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  position: relative;
  margin-left: -28.4rem;
  visibility: hidden;
}
.wrapper.visible {
  margin-left: 0rem;
  visibility: visible;
}
.signin.dark .wrapper {
  background-color: #323232;
}
.wrapper .heading {
  color: var(--baseC--);
  font-size: 2rem;
  font-weight: 500;
}

.wrapper .btn {
  background-color: var(--baseC--);
  color: #fff;
  outline: none;
}
.wrapper .btn:hover {
  transform: translateY(1px);
  transition: 0.5s ease-in-out;
}
.logo-desc {
  align-items: center;
}
.logo-desc p {
  color: #fff;
}
.logo-desc img {
  width: 80%;
  height: 80%;
}

.role-select.alert {
  background-color: pink;
  display: none;
  color: crimson;
  border-radius: 5px;
  border: none;
}
.role-select.alert.show {
  display: block;
}
.signin.dark .role-select,
.signin.dark .wrapper .heading {
  color: var(--dashBg--);
}

.signin.dark .role-select.round option {
  background-color: #1e1e1e;
}

.wrapper .toggle-btn {
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  margin: 2rem auto;
  margin-right: 2rem;
  cursor: pointer;
}
