:root {
  --themeColor--: #040b5b;
}
* {
  margin: 0;
  transition: 0.3s ease-in-out;
}
.home-component {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 5rem 1rem;
}
.home-component .link {
  border: 1px solid var(--themeColor--);
  color: var(--themeColor--);
  outline: none !important;
  text-decoration: none !important;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  margin-bottom: 1rem;
  min-width: 300px;
  text-align: center;
}
.home-component .link:hover {
  background-color: var(--themeColor--);
  color: #fff;
  box-shadow: 1px 1px 3px var(--themeColor--);
}
.users {
  display: flex;
  padding: 0;
}
.sidebar {
  background-color: var(--themeColor--);
  display: flex;
  flex-direction: column;
  padding: 6rem;
  width: 300px;
  position: fixed;
  padding-left: 2rem;
  /* padding-right: 6rem; */
  min-height: 100vh;
  box-shadow: 1px 1px 6px var(--themeColor--);
}
.sidebar .options {
  color: #fff;
  margin-bottom: 1rem;
  cursor: pointer;
  text-decoration: none;
}
.routes-deck {
  display: flex;
  flex-direction: column;
  padding: 6rem;
  padding-left: 2rem;
  margin-left: 300px;
  background-color: #1827c91d;
  width: 100%;
  min-height: 100vh;
}
.routes-deck h4 {
  font-size: 1rem;
  margin: 1rem 0;
}
.endpoint,
.parameters {
  background-color: rgba(0, 0, 0, 0.81);
  color: coral;
  padding: 0.5rem 1rem;
  /* margin-bottom: 1rem !important; */
  border-radius: 5px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.51);
}
.parameters {
  background-color: rgba(240, 248, 255, 0.419);
  backdrop-filter: blur(10px);
  color: var(--themeColor--);
  display: flex;
  justify-content: space-between;
  width: 100%;
  box-shadow: 1px 1px 1px rgba(208, 208, 208, 0.51);
}
.parameters th,
.parameters td {
  padding-right: 2rem;
}
.parameters td {
  padding: 1rem 0rem;
}
.method {
  color: greenyellow;
  margin-right: 1rem;
}
@media (max-width: 820px) {
  .home-component .link {
    width: 100%;
  }
}
